/* Start Variables */

:root {
    --main-color: #1abc9c;
    --title-color: #484f58;
    --para-color: #777777;
    --section-background: #ECF0F1;
    --section-pad: 50px;
    --trans-dur: 0.3s;
}

/* End Variables */

/* Start Global Rules */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

p {
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

.container {
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rules */

/* Start Component */

h2.main-title {
    font-size: 45px;
    color: var(--title-color, #484f58);
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
}

a.button {
    display: block;
    width: fit-content;
    margin: 0 auto;
    text-transform: capitalize;
    font-size: 13px;
    color: white;
    background-color: var(--main-color, #1abc9c);
    padding: 10px 20px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    transition: var(--trans-dur, 0.3s);
    -webkit-transition: var(--trans-dur, 0.3s);
    -moz-transition: var(--trans-dur, 0.3s);
    -ms-transition: var(--trans-dur, 0.3s);
    -o-transition: var(--trans-dur, 0.3s);
}

a.button:hover {
    animation: rubber 1s;
    -webkit-animation: rubber 1s;
    background-color: #16a085;
}


/* End Component */

/* Start Header */

header {
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: absolute;
    width: 100%;
}

header a.logo {
    color: white;
    display: block;
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    font-size: 40px;
}

header a.logo:hover {
    animation: rubber 1s;
    -webkit-animation: rubber 1s;
}

header nav {
    position: relative;
}

header nav ul {
    display: flex;
    align-content: center;
    transition: var(--trans-dur, 0.3s);
    -webkit-transition: var(--trans-dur, 0.3s);
    -moz-transition: var(--trans-dur, 0.3s);
    -ms-transition: var(--trans-dur, 0.3s);
    -o-transition: var(--trans-dur, 0.3s);
}

@media (max-width: 768px) {
    header nav ul {
        display: block;
        position: absolute;
        background-color: #2c2d31;
        top: 200%;
        left: -95px;
        width: 120px;
        opacity: 0;
        z-index: -1;
    }

    header nav:hover ul {
        top: 80%;
        opacity: 1;
        z-index: 1;
    }
}

header nav ul a {
    display: block;
    padding: 10px 15px;
    font-size: 13px;
    color: white;
    transition: var(--trans-dur, 0.3s);
    -webkit-transition: var(--trans-dur, 0.3s);
    -moz-transition: var(--trans-dur, 0.3s);
    -ms-transition: var(--trans-dur, 0.3s);
    -o-transition: var(--trans-dur, 0.3s);
}

@media (max-width: 768px) {
    header nav ul a:hover {
        padding-left: 20px;
    }
}

header nav ul a:hover {
    color: var(--main-color, #1abc9c);
}

header nav ul a.active {
    color: var(--main-color, #1abc9c);
}

header nav .icon {
    width: 30px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

@media (min-width: 768px) {
    header nav .icon {
        display: none;
    }
}

header nav .icon span {
    display: block;
    background-color: white;
    width: 100%;
    height: 3px;
    margin-bottom: 6px;
}

/* End Header */

/* Start Landing */

.landing {
    height: 120vh;
    background-image: url(../photos/home.jpg);
    background-size: cover;
    background-attachment: fixed;
}

@media (max-width: 576px) {
    .landing {
        height: 90vh;
    }
}

.landing .cont {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    width: 100%;
    z-index: 1;
}

.landing .cont h2 {
    font-size: 40px;
    margin: 40px 0;
    font-weight: normal;
}

@media (max-width: 768px) {
    .landing .cont h2 {
        font-size: 32px;
    }
}

@media (max-width: 576px) {
    .landing .cont h2 {
        font-size: 20px;
    }
}

.landing .cont p {
    width: 65%;
    line-height: 1.8;
    margin: 0 auto;
}

@media (max-width: 576px) {
    .landing .cont p {
        font-size: 13px;
    }
}

.landing .cont a {
    display: block;
    width: fit-content;
    margin: 40px auto 0;
    border: 2px solid white;
    color: white;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    padding: 15px 20px;
    font-size: 13px;
}

.landing .cont a:hover {
    animation: rubber 1s;
    -webkit-animation: rubber 1s;
    background-color: var(--main-color, #1abc9c);
    border-color: var(--main-color, #1abc9c);
}

/* End Landing */

/* Start Wave */

svg.wave-up,
svg.wave-down {
    fill: white;
    stroke: transparent;
}

svg.wave-up {
    transform: translateY(calc(-100% + 1px));
    -webkit-transform: translateY(calc(-100% + 1px));
    -moz-transform: translateY(calc(-100% + 1px));
    -ms-transform: translateY(calc(-100% + 1px));
    -o-transform: translateY(calc(-100% + 1px));
}

svg.wave-down {
    position: absolute;
}

/* End Wave */

/* Start Services */

.services {
    padding-top: var(--section-pad, 50px);
    padding-bottom: var(--section-pad, 50px);
}

.services .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

@media (max-width: 1199px) {
    .services .container {
        width: auto;
    }
}

@media (max-width: 768px) {
    .services .container {
        flex-direction: column;
    }
}

.services .container .box {
    flex-basis: calc((100% - 30px) / 4);
    padding: 25px 15px;
    text-align: center;
}

@media (max-width: 768px) {
    .services .container .box {
        width: 100%;
        margin-bottom: 30px;
    }
}

.services .container .box .icon {
    border: 1px solid var(--title-color, #484f58);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 40px;
    font-size: 30px;
    transition: var(--trans-dur, 0.3s);
    -webkit-transition: var(--trans-dur, 0.3s);
    -moz-transition: var(--trans-dur, 0.3s);
    -ms-transition: var(--trans-dur, 0.3s);
    -o-transition: var(--trans-dur, 0.3s);
}

.services .container .box:hover .icon {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.services .container .box h3 {
    color: var(--title-color, #484f58);
    font-size: 28px;
    font-weight: normal;
    margin-bottom: 30px;
}

.services .container .box p {
    color: var(--para-color, #777777);
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    line-height: 1.7;
    margin-bottom: 30px;
}

/* End Services */

/* Start Animation */

@keyframes rubber {
    0% {
        transform: scale3d(1, 1, 1);
        -webkit-transform: scale3d(1, 1, 1);
        -moz-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        -o-transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.15, 0.9, 1);
        -webkit-transform: scale3d(1.15, 0.9, 1);
        -moz-transform: scale3d(1.15, 0.9, 1);
        -ms-transform: scale3d(1.15, 0.9, 1);
        -o-transform: scale3d(1.15, 0.9, 1);
    }

    40% {
        transform: scale3d(.8, 1.15, 1);
        -webkit-transform: scale3d(.8, 1.15, 1);
        -moz-transform: scale3d(.8, 1.15, 1);
        -ms-transform: scale3d(.8, 1.15, 1);
        -o-transform: scale3d(.8, 1.15, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
        -webkit-transform: scale3d(1.15, 0.85, 1);
        -moz-transform: scale3d(1.15, 0.85, 1);
        -ms-transform: scale3d(1.15, 0.85, 1);
        -o-transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(.95, 1.05, 1);
        -webkit-transform: scale3d(.95, 1.05, 1);
        -moz-transform: scale3d(.95, 1.05, 1);
        -ms-transform: scale3d(.95, 1.05, 1);
        -o-transform: scale3d(.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, .95, 1);
        -webkit-transform: scale3d(1.05, .95, 1);
        -moz-transform: scale3d(1.05, .95, 1);
        -ms-transform: scale3d(1.05, .95, 1);
        -o-transform: scale3d(1.05, .95, 1);
    }

    100% {
        transform: scale3d(1, 1, 1);
        -webkit-transform: scale3d(1, 1, 1);
        -moz-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        -o-transform: scale3d(1, 1, 1);
    }
}

/* End Animation */