/* Start Variables */

:root {
    --main-color: #1abc9c;
    --title-color: #484f58;
    --para-color: #777777;
    --section-background: #ECF0F1;
    --trans-dur: 0.3s;
}

/* End Variables */

/* Start Global Rules */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rules */

/* Start Component */
/* End Component */

/* Start Header */

header {
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 0 20px;
}

header a.logo {
    color: white;
    display: block;
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    font-size: 40px;
}

header a.logo:hover {
    animation: rubber 1s;
    -webkit-animation: rubber 1s;
}

header nav {
    position: relative;
}

header nav ul {
    display: flex;
    align-content: center;
    transition: var(--trans-dur, 0.3s);
    -webkit-transition: var(--trans-dur, 0.3s);
    -moz-transition: var(--trans-dur, 0.3s);
    -ms-transition: var(--trans-dur, 0.3s);
    -o-transition: var(--trans-dur, 0.3s);
}

@media (max-width: 768px) {
    header nav ul {
        display: block;
        position: absolute;
        background-color: #2c2d31;
        top: 200%;
        left: -95px;
        width: 120px;
        opacity: 0;
        z-index: -1;
    }

    header nav:hover ul {
        top: 80%;
        opacity: 1;
        z-index: 1;
    }
}

header nav ul a {
    display: block;
    padding: 10px 15px;
    font-size: 13px;
    color: white;
    transition: var(--trans-dur, 0.3s);
    -webkit-transition: var(--trans-dur, 0.3s);
    -moz-transition: var(--trans-dur, 0.3s);
    -ms-transition: var(--trans-dur, 0.3s);
    -o-transition: var(--trans-dur, 0.3s);
}

@media (max-width: 768px) {
    header nav ul a:hover {
        padding-left: 20px;
    }
}

header nav ul a:hover {
    color: var(--main-color, #1abc9c);
}

header nav ul a.active {
    color: var(--main-color, #1abc9c);
}

header nav .icon {
    width: 30px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

@media (min-width: 768px) {
    header nav .icon {
        display: none;
    }
}

header nav .icon span {
    display: block;
    background-color: white;
    width: 100%;
    height: 3px;
    margin-bottom: 6px;
}

/* End Header */

/* Start Animation */

@keyframes rubber {
    0% {
        transform: scale3d(1, 1, 1);
        -webkit-transform: scale3d(1, 1, 1);
        -moz-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        -o-transform: scale3d(1, 1, 1);
    }

    35% {
        transform: scale3d(1.25, 0.75, 1);
        -webkit-transform: scale3d(1.25, 0.75, 1);
        -moz-transform: scale3d(1.25, 0.75, 1);
        -ms-transform: scale3d(1.25, 0.75, 1);
        -o-transform: scale3d(1.25, 0.75, 1);
    }

    45% {
        transform: scale3d(.75, 1, 1);
        -webkit-transform: scale3d(.75, 1, 1);
        -moz-transform: scale3d(.75, 1, 1);
        -ms-transform: scale3d(.75, 1, 1);
        -o-transform: scale3d(.75, 1, 1);
    }

    60% {
        transform: scale3d(1.2, .8, 1);
        -webkit-transform: scale3d(1.2, .8, 1);
        -moz-transform: scale3d(1.2, .8, 1);
        -ms-transform: scale3d(1.2, .8, 1);
        -o-transform: scale3d(1.2, .8, 1);
    }

    75% {
        transform: scale3d(1.05, .95, 1);
        -webkit-transform: scale3d(1.05, .95, 1);
        -moz-transform: scale3d(1.05, .95, 1);
        -ms-transform: scale3d(1.05, .95, 1);
        -o-transform: scale3d(1.05, .95, 1);
    }

    100% {
        transform: scale3d(1, 1, 1);
        -webkit-transform: scale3d(1, 1, 1);
        -moz-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        -o-transform: scale3d(1, 1, 1);
    }
}

/* End Animation */